extends layout

block content
  .container
    .jumbotron
      h1 Emerald City
      p Welcome to the Thoreau Demonstration Academy's Micro Society Business Portal. Please login to see your Dashboard.
      a.btn.btn-primary.btn-lg(href="/login") Login