extends layout

block content
  .container
    .register
      .row
        .col-lg-6.col-lg-offset-3
          .well
            form(action='/business', method='post', role='form')
              legend Create A New Business
              input(type='hidden', value=locals._csrf, name='_csrf')
              .form-group
                label(for="bus_name") Business Name
                input.form-control(type="text", name="bus_name")
              .form-group
                label(for="password") PIN
                input.form-control(type="password", name="password")
              div.submit
                input.btn.btn-primary.btn-sm(type="submit", value="Create Business")